@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-Font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* *{
    margin: 0px;
} */

/* shared styles */
.display-flex{
    display: flex;
}

/* dark-02 */
.text-gray{
    color: rgb(66, 66, 66);
}

/* dark-03 */
.tex-light-gray{
   color: rgb(114, 114, 114); 
}

.text-orange{
    color: rgb(255, 144, 14);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 130px;
}

/* header styles */


/* navbar related styles */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar, .banner{
    max-width: 1440px;  
    margin: 0px auto;
}

/* banner related style */

.banner-content{
    max-width: 850px;
    margin: 0px auto;
   text-align: center;
   margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-top: 20px;
}
.banner-description{
    padding-bottom: 20px;
}
.banner-image{
   width: 100%;
}

/* team and feature related style */
.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    max-width: 550px;
    margin-left: 73px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.quick-list{
    font-weight: 500;
}

.feature-description{
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 32px;
}

/* feature related style */

.features{
    max-width: 1440px;
    height: 1059px;
    gap: 145px;
}
.section-title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
}
.section-description{
    padding-bottom: 20px;
}
#feature-section-border{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
}
.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
}
.feature-card{
    padding: 20px 42px 10px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}
#experience-badge{
    position: relative;
    bottom: 10%;
    right: 12%;
    width: 342px;
    height: 200px;
    border: none;
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
}
#experience-year{
   font-size: 4rem;
   font-weight: 700;
}


/* Responsive Media Query */

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    
}
